/** @format */

@font-face {
	src: url("fonts/attila.ttf");
	font-family: "attila Sans Uniform";
}

@font-face {
	src: url("fonts/DancingScript-VariableFont_wght.ttf");
	font-family: "dancing script";
}



@font-face {
	src: url("fonts/Havelock\ Titling\ Family/havelock.otf");
	font-family: "havelock titling";
}
@font-face {
	src: url("fonts/Montserrat/Montserrat-Medium.ttf");
	font-family: "montserrat";
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "attila Sans Uniform";
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
	color: #dadada;
	background-color: #232025;
}

#main {
	position: relative;
	background-color: #232025;
	/* height: 100%; */
}

#main #nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 9991;
	width: 100vw;
	/* color: red; */
	padding: 7vh 5.8vw;
	color: #cecece;
	/* background-color: red; */
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 5s;
}
#nav > h2 {
	font-size: 1.1vw;
	letter-spacing: 0.5vw;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 100;
}
#nav #navprt2 {
	/* background-color: blue; */
	display: flex;
	align-items: center;
}
#navprt2 h3 {
	font-size: 1.05vw;
	text-transform: uppercase;
	margin-right: 55px;
	letter-spacing: 2px;
	word-spacing: 6px;
	cursor: pointer;
}
#navprt2 #menu {
	width: 2vw;
	height: 1.6vh;
	/* background-color: yellow; */
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	cursor: pointer;
	flex-direction: column;
	/* background-color: red; */
}
#menu .line {
	border-radius: 10px;
	height: 0.3vh;
	width: 100%;
	background-color: #cecece;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
#line1 {
	/* transform: rotate(40deg); */
	transform-origin: 0 100%;
}
#menu #line2 {
	width: 70%;
	transform-origin: 30% 50%;
	/* transform: rotate(-40deg); */
}

/* topmenu styling */

#main #topmenu {
	background-color: #cecece;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 999;
	color: #2b2b2b;
	transform: translateY(-100%);
	border-top: 1px solid #000;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.8s;
	overflow: hidden;
}
#topmenu > h1 {
	font-size: 13.5vw;
	margin-top: 15vh;
	margin-left: 4.8vw;
	letter-spacing: -1vw;
	text-transform: uppercase;
}
#topmenu #opt {
	height: 45vh;
	width: 45vw;
	margin-left: 5.5vw;
	display: flex;
	flex-direction: column;
	margin-top: 5vh;
	flex-wrap: wrap;
	/* background-color: azure;*/
}
#main #topmenu #opt > h4 {
	font-size: 1.8vw;
	font-family: "montserrat";
	margin-bottom: 2.2vh;
	/* background-color: aqua; */
	font-weight: 500;
	cursor: pointer;
	width: 15vw;
}
/* TOPMENU ENDS  */

/* page1 starts */
#page1 {
	min-height: 80vh;
	width: 100%;
	position: relative;
	/* margin-bottom: 1vw; */
}
#page1 h1 {
	font-size: 13vw;
	text-transform: uppercase;
	/* background-color: red; */
	position: absolute;
	top: 19vh;
	left: 5vw;
	letter-spacing: 7px;
}

#page1 h2 {
	position: absolute;
	top: 55vh;
	left: 20vw;
	font-size: 3vw;
	font-weight: 100;
	line-height: 6vh;
	color: #adadad;
}
#page1 h3 {
	font-size: 1.5vw;
	position: absolute;
	top: 58vh;
	right: 19vw;
	color: #adadad;
	font-weight: 100;
	line-height: 4vh;
}

/* page2 starts */
#page2 {
	position: relative;
	min-height: 100vh;
	padding-bottom: 10vh;
}

#page2 img {
	width: 100%;
	/* height: 120vh; */
	position: relative;
	left: 50%;
	transform: translate(-50%, 0) scale(0.9);
	object-fit: cover;
	object-position: center;
	margin-bottom: 5vw;
	margin-bottom: 28vh;
}

#page2 h1 {
	transform: rotateX(270deg);
	opacity: 0;
	font-size: 4vw;
	font-weight: 500;
	width: 80%;
	margin: 0 auto;
	transform-origin: left bottom;
	text-align: center;
}
/* #page2 h1:nth-child(1) {
	 width: 64%; 
}  */
#page2 h1:nth-child(3) {
	width: 67%;
	font-size: 3.8vw;
}
#page2 h1:nth-child(3) span {
	font-family: "dancing script";
	font-weight: 900;
	font-size: 4.4vw;
}
#page2 h1:nth-child(4) {
	font-family: "dancing script";
	font-weight: 900;
	width: 60%;
	font-size: 4.5vw;
	margin: 0 auto;
}
#page3 {
	height: 100vh;
	width: 100%;
	/* background-color: red; */
	position: relative;
	margin-bottom: 6vw;
}

#part2 {
	height: 100vh;
	background-color: #232025;
	position: relative;
	padding: 10vh 6vw;
}
#part2 #line {
	height: 2px;
	width: 20%;
	background-color: #adadad;
}
#part2 .card {
	position: absolute;
	top: 50%;
	left: 25%;
	z-index: 1;
	transform: translate(-50%, -50%);
	height: 300px;
	width: 250px;
	border-radius: 20px;
	color: black;
	padding: 20px 25px;
	opacity: 0;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 4s;
	text-transform: uppercase;
}
.mangocard {
	background-color: rgb(255, 208, 0);
}
.bananacard {
	background-color: rgb(233, 255, 34);
}
.pinecard {
	background-color: rgb(0, 255, 170);
}
.pithayacard {
	background-color: rgb(255, 34, 119);
}
.card h2 {
	font-size: 33px;
	font-weight: 100;
}
.card h3 {
	font-size: 15px;
	position: absolute;
	top: 80%;
}
#line h6 {
	text-transform: uppercase;
	font-size: 11px;
	position: absolute;
	left: 22vw;
	top: 8vh;
}
.fruit {
	display: flex;
	align-items: flex-start;
	margin: 4vh 0;
	/* background-color: red; */
	position: relative;
	cursor: pointer;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.fruit h5 {
	font-family: "havelock titling";
	font-size: 15px;
}
.fruit h1 {
	font-family: "havelock titling";
	font-size: 4.9vw;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
	margin-left: 12vw;
	text-align: left;
	position: relative;
	z-index: 99;
	font-weight: 700;
	letter-spacing: -0.6vw;
	-webkit-text-stroke: 1px #cecece;
}
.fruit:hover h1 {
	color: #232025;
}
.fruit:hover p {
	opacity: 1;
}
.fruit p {
	position: absolute;
	right: 0;
	font-weight: 900;
	font-size: 65px;
	opacity: 0;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
}
#mango {
	margin-top: 12vh;
}

#page4 {
	height: 85vh;
	width: 100%;
	/* background-color: red; */
	position: relative;
	padding: 1vw 4vw;
}
#page4 h1 {
	font-size: 7.9vw;
}
#page5 {
	height: 130vh;
	width: 100%;
	/* background-color: red; */
}
#page5 #page5-elems {
	height: 23%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: blue; */
	border: 0.12vw solid #d1cad4;
	border-left: none;
	border-right: none;
}
#page5-elems #elem1 {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 0.12vw solid #d1cad4;
}
#elem1 h1 {
	font-size: 4vw;
	padding: 0 3vw;
	width: 80%;
}
#page5-elems #elem2 {
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#elem2 h2 {
	font-size: 1.6vw;
	padding: 0 5vw;
	line-height: 1.6;
}

#page5 #page5-content {
	height: 77%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(./images/bgimg.gif);
	background-size: cover;
	background-position: center;
	padding: 3vw 2vw;
}
#page5-content h1 {
	font-size: 3.8vw;
	width: 60%;
	text-align: center;
	line-height: 0.7;
	font-weight: 100;
	margin-bottom: 4vw;
}
#page5-content h1 span {
	font-family: "dancing script";
	font-size: 6vw;
	font-weight: 900;
}
#page5-content h2 {
	font-size: 1vw;
	width: fit-content;
	margin-bottom: 9vw;
}

#page5-content img {
	animation: rotate 2s infinite;
	animation-delay: -1s;
	animation-timing-function: linear;
}

@keyframes rotate {
	0% {
		transform: rotateZ(0deg);
	}
	/* 50% {
		transform: rotateZ(180deg);
	} */
	100% {
		transform: rotateZ(360deg);
	}
}

#page6 h1 {
	font-size: 10vw;
	text-transform: uppercase;
	cursor: default;
	line-height: 22vh;
}
#page6 .slide1-of-h1 {
	overflow-x: auto;
	overflow-y: hidden;
}
#page6 .slide1-of-h1::-webkit-scrollbar {
	display: none;
}
#page6 .slide2-of-h1::-webkit-scrollbar {
	display: none;
}
#page6 .slide2-of-h1 {
	overflow-x: auto;
	overflow-y: hidden;
}
#page6 .slide2-of-h1 h1 {
	transform: translateX(-200%);
}
#page6 h1 .one2 {
	color: transparent;
	-webkit-text-stroke: 1px #adadad;
}

/* page7  */

#page8 {
	height: 100vh;
	width: 100vw;
	background-color: #232025;
	/* padding: 8vw 5vw; */
	text-align: center;
}

#page8 > h3 {
	font-size: 2.8vw;
	width: 38%;
	margin: 2vw auto;
	margin-top: 6vw;
	/* background-color: aqua; */
	margin-bottom: 6vw;
}
#page8 > h3 span {
	font-family: "dancing script";
	font-size: 3.4vw;
	letter-spacing: 0.6vw;
	transform: scaleY(2.5);
}
#page8 #page7-elems {
	/* background-color: red; */
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#page7-elems #element1 {
	width: 25%;
	/* background-color: blue; */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
}
#page7-elems #element2 {
	width: 25%;
	position: relative;
	height: 100%;
	/* background-color: blue; */
	display: flex;
	align-items: center;
	justify-content: center;
}
#element1 h1 {
	font-size: 3.3vw;
	z-index: 99;
	transition: opacity cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#element2 h1 {
	font-size: 3.3vw;
	z-index: 99;
	transition: opacity cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#page8 #element1 img {
	position: absolute;
	transform: rotate(11deg);
	opacity: 0;
	height: 80%;
}
#page8 #element2 img {
	position: absolute;
	opacity: 0;
	/* z-index: 99999; */
	transform: rotate(11deg);
	height: 80%;
}

#page7 {
	height: 100vh;
	background-color: #232025;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}
#page7 h1 {
	font-size: 4.2vw;
	top: 20vh;
	position: absolute;
}
#product {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
	/* background-color: red; */
}
.products {
	height: 35vh;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
	top: 35vh;
	position: absolute;
	box-shadow: 0px 0px 15px #232025;
}
.products:hover {
	transform: rotate(-13deg) scale(1.1);
}
.products img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#product3 {
	height: 50vh;
	z-index: 11;
}
#product1 {
	left: 19vw;
	top: 41.5vh;
	height: 37vh;
	z-index: 9;
}
#product4 {
	top: 38vh;
	height: 44vh;
	left: 57vw;
	z-index: 10;
}
#product2 {
	height: 44vh;
	left: 30vw;
	top: 38vh;
	z-index: 10;
}
#product5 {
	left: 70.5vw;
	z-index: 9;
	height: 37vh;
	top: 41.5vh;
}
